@media screen and (max-width: 700px) {
  .chatFrame {
    top: -2%;
    height: 90%;
    width: 100%;
  }
  .img {
    width: 23%;
  }
  .book {
    position: relative;
    top: 20%;
    right: 70%;
  }
  .app {
    position: relative;
    top: 32%;
    left: 50%;
  }
}

@media screen and (min-width: 701px) {
  .chatFrame {
    position: relative;
  }
  .book {
    position: absolute;
    top: 40%;
    left: -10%;
    width: 15%; /* Adjust the width as needed */
  }
  .app {
    position: absolute;
    top: 40%;
    right: -13%;
    width: 25%;
  }
}
