@media screen and (max-width: 700px) {
  .chatFrame {
    top: -2%;
    height: 90%;
    width: 100%;
  }
  .img {
    width: 21%;
  }
  .book {
    position: relative;
    top: 20%;
    right: 80%;
  }
  .app {
    position: relative;
    top: 20%;
    right: 30%;
  }
}

@media screen and (min-width: 701px) {
  .chatFrame {
    position: relative;
  }
  .book {
    position: absolute;
    top: 40%;
    left: -12%;
    width: 15%; /* Adjust the width as needed */
  }
  .app {
    position: absolute;
    top: 40%;
    right: -15%;
    width: 25%;
  }
}
